[package]
name = "chain"
version = "0.1.0"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"

[dependencies]
blocks = { package = "forest_blocks", path = "../blocks", features = ["json"] }
db = { package = "forest_db", version = "0.1" }
cid = { package = "forest_cid", version = "0.3" }
clock = { package = "fil_clock", path = "../../node/clock" }
crypto = { package = "forest_crypto", version = "0.4" }
encoding = { package = "forest_encoding", version = "0.2.1" }
serde = { version = "1.0", features = ["derive"] }
num-bigint = { path = "../../utils/bigint", package = "forest_bigint" }
num-traits = "0.2"
message = { package = "forest_message", version = "0.6" }
ipld_blockstore = "0.1"
ipld_amt = "0.2"
thiserror = "1.0"
log = "0.4.8"
state_tree = { path = "../../vm/state_tree/" }
actor = { package = "actor_interface", path = "../../vm/actor_interface" }
blake2b_simd = "0.5.9"
byteorder = "1.3.4"
beacon = { path = "../beacon" }
tokio = { version = "1.0", features = ["sync"] }
address = { package = "forest_address", version = "0.3" }
futures = "0.3.5"
async-std = { version = "1.9", features = ["tokio1"] }
types = { package = "fil_types", version = "0.1" }
lazy_static = "1.4"
interpreter = { path = "../../vm/interpreter/" }
lru = "0.6"
rayon = "1.3"
forest_car = { path = "../../ipld/car" }
forest_ipld = "0.1.1"
networks = { path = "../../types/networks" }

[features]
json = []

[dev-dependencies]
multihash = { version = "0.13", default-features = false, features = ["std", "blake2b", "derive"] }
test_utils = { version = "0.1.0", path = "../../utils/test_utils/", features = [
    "test_constructors"
] }
