[package]
name = "key_management"
version = "0.1.0"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"

[package.metadata.docs.rs]
features = ["json"]

[dependencies]
thiserror = "1.0"
address = { package = "forest_address", version = "0.3" }
crypto = { package = "forest_crypto", version = "0.4", features = ["json"] }
bls-signatures = { version = "0.7", default-features = false, features = ["blst"] }
libsecp256k1 = "0.3.4"
rand = "0.7.3"
encoding = { package = "forest_encoding", version = "0.2.1" }
serde = { version = "1.0", features = ["derive"] }
base64 = { version = "0.13", optional = true }
serde_json = "1.0.57"
log = "0.4.8"

[features]
json = ["base64", "crypto/json"]