[package]
name = "interpreter"
version = "0.1.0"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"

[dependencies]
address = { package = "forest_address", version = "0.3" }
actor = { package = "actor_interface", path = "../actor_interface" }
message = { package = "forest_message", default_features = false, version = "0.7", features = ["blst"] }
runtime = { package = "forest_runtime", version = "0.1" }
blocks = { package = "forest_blocks", path = "../../blockchain/blocks" }
clock = { package = "fil_clock", path = "../../node/clock" }
vm = { package = "forest_vm", version = "0.3.1" }
ipld_blockstore = "0.1"
num-bigint = { path = "../../utils/bigint", package = "forest_bigint" }
forest_encoding = "0.2.1"
cid = { package = "forest_cid", version = "0.3" }
crypto = { package = "forest_crypto", default_features = false, version = "0.5", features = ["blst"] }
num-traits = "0.2.11"
byteorder = "1.3.4"
state_tree = { path = "../state_tree" }
log = "0.4.8"
db = { package = "forest_db", version = "0.1" }
fil_types = "0.1"
ahash = "0.6"
lazy_static = "1.4"
rayon = "1.3"
networks = { path = "../../types/networks" }

[dev-dependencies]
ipld_hamt = "1.0"
interpreter = { path = "../interpreter/" }

