# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/" # Location of package manifests
    open-pull-requests-limit: 1
    cooldown:
      default-days: 5
    schedule:
      interval: "weekly"
    # https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates#example-disabling-version-updates-for-some-dependencies
    ignore:
      - dependency-name: "cid"
        update-types:
          ["version-update:semver-major", "version-update:semver-minor"]
      - dependency-name: "*ipld*"
        update-types:
          ["version-update:semver-major", "version-update:semver-minor"]
      - dependency-name: "bls-signatures"
        update-types:
          ["version-update:semver-major", "version-update:semver-minor"]
      - dependency-name: "fvm*"
        update-types:
          ["version-update:semver-major", "version-update:semver-minor"]
      - dependency-name: "filecoin*"
        update-types:
          ["version-update:semver-major", "version-update:semver-minor"]
    # https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#groups
    groups:
      patch-versions:
        update-types:
          - "patch"
      fil-actors:
        patterns:
          - "fil_actor*"
  # https://docs.github.com/en/code-security/dependabot/working-with-dependabot/keeping-your-actions-up-to-date-with-dependabot#enabling-dependabot-version-updates-for-actions
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 1
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/docs" # Location of package manifests
    open-pull-requests-limit: 1
    cooldown:
      default-days: 5
    schedule:
      interval: "weekly"
    # https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file#groups
    groups:
      patch-versions:
        update-types:
          - "patch"
      react:
        patterns:
          - "react"
          - "react-*"
