[submodule "tests/serialization-vectors"]
	path = tests/serialization-vectors
	url = https://github.com/filecoin-project/serialization-vectors
[submodule "blockchain/beacon/proto/api-common-protos"]
	path = blockchain/beacon/proto/api-common-protos
	url = https://github.com/googleapis/api-common-protos
	branch = master
[submodule "ipld/tests/ipld-traversal-vectors"]
	path = ipld/tests/ipld-traversal-vectors
	url = git@github.com:ChainSafe/ipld-traversal-vectors.git
[submodule "tests/conformance_tests/test-vectors"]
	path = tests/conformance_tests/test-vectors
	url = https://github.com/filecoin-project/test-vectors.git
