/target
**/*.rs.bk
.idea/
config*.toml
.DS_STORE
.vscode
/test_dir*
/devnet.car
*.orig
criterion
genesis.json
/.cargo/*
!/.cargo/*.toml
node/rpc-api/static/ast.ron
documentation/book/**/*
node_modules
/scripts/benchmark_db/.bundle/
/scripts/benchmark_db/vendor/
/scripts/benchmark_db/*.md
/scripts/benchmark_db/*.csv
