[submodule "tests/serialization_tests/serialization-vectors"]
	path = tests/serialization_tests/serialization-vectors
	url = https://github.com/filecoin-project/serialization-vectors.git
[submodule "ipld/tests/ipld-traversal-vectors"]
	path = ipld/tests/ipld-traversal-vectors
	url = https://github.com:ChainSafe/ipld-traversal-vectors.git
[submodule "tests/conformance_tests/test-vectors"]
	path = tests/conformance_tests/test-vectors
	url = https://github.com/filecoin-project/test-vectors.git
