# Compilation artifacts
/target
/node_modules

# Backup files
**/*.rs.bk
*.orig

# IDE files
.idea/
.vscode

# MacOS Junk
.DS_STORE

# Ignore everything except toml files in .cargo
/.cargo/*
!/.cargo/*.toml

# Uncategorized
config*.toml
/test_dir*
/devnet.car
genesis.json

# Tracing/profiling
/perf.data*
/trace-*.json
