[tasks.install]
description = "Installs all Forest binaries with a specified profile."
usage = '''
arg "<profile>" help="Installation profile (quick, release, etc.)" default="release" {
   choices "quick" "quick-test" "release" "release-lto-fat" "dev" "debugging" "profiling"
}
flag "--slim" help="Install a slim version"
flag "-v --verbose" help="Enable verbose output"
'''
shell = "bash -c"
run = '''
echo "Installing Forest binaries with profile: ${usage_profile?}"
[[ -n "${usage_verbose}" ]] && set -x
if [ "${usage_slim}" = true ]; then
    SLIM_FLAGS="--no-default-features --features slim"
fi
cargo install --profile ${usage_profile} ${SLIM_FLAGS} --locked --path . --force
'''
alias = 'i'

[tasks.install-lint-tools]
description = "Installs linting tools for CI"
tools.cargo-binstall = "latest"
run = "cargo binstall --no-confirm taplo-cli cargo-spellcheck cargo-deny"

[tasks."lint:deny"]
description = "Run cargo-deny to check for license and security issues."
run = '''
cargo deny check bans licenses sources || (echo "See deny.toml"; false)
'''

[tasks."lint:spellcheck"]
description = "Run cargo-spellcheck to check for spelling errors."
run = '''
cargo spellcheck --code 1 || (echo "See .config/spellcheck.md for tips"; false)
'''

[tasks."lint:toml"]
description = "Run taplo-cli to check TOML files."
run = '''
taplo fmt --check
taplo lint
'''

[tasks."lint:rust-fmt"]
description = "Run cargo-fmt to check Rust code formatting."
run = '''
cargo fmt --all -- --check
'''

[tasks."lint:clippy"]
description = "Run cargo-clippy to check Rust code for common mistakes."
run = '''
cargo clippy --all-targets --quiet --no-deps -- --deny=warnings
cargo clippy --all-targets --no-default-features --features slim --quiet --no-deps -- --deny=warnings
cargo clippy --all-targets --no-default-features --quiet --no-deps -- --deny=warnings
cargo clippy --benches --features benchmark-private --quiet --no-deps -- --deny=warnings
# check docs.rs build
DOCS_RS=1 cargo clippy --all-targets --quiet --no-deps -- --deny=warnings
'''

[tasks."lint:unused-deps"]
description = "Check for unused dependencies in Rust code."
tools.ruby = "latest"
run = '''
gem install --no-document toml-rb
ruby scripts/linters/find_unused_deps.rb
'''

[tasks."lint:dockerfile"]
description = "Lint Dockerfiles using hadolint."
tools.hadolint = "latest"
run = '''
hadolint Dockerfile*
'''

[tasks."lint:shellcheck"]
description = "Lint shell scripts using shellcheck."
tools.shellcheck = "latest"
run = '''
shellcheck --external-sources --source-path=SCRIPTDIR **/*.sh
'''

[tasks."lint:golang"]
description = "Lint Go code using golangci-lint."
tools.golangci-lint = "latest"
run = '''
golangci-lint run ./f3-sidecar ./interop-tests/src/tests/go_app
'''

[tasks."lint:ruby"]
description = "Lint Ruby code using rubocop."
tools.ruby = "latest"
tools."gem:rubocop" = "1.58"
run = '''
rubocop scripts/
'''

[tasks.lint]
description = "Run all linting tasks."
depends = ["lint:*"]

[tasks."lint:all-rust"]
description = "Run all Rust linting tasks."
depends = ["lint:deny", "lint:spellcheck", "lint:rust-fmt", "lint:clippy", "lint:unused-deps"]

[tasks."lint:yaml"]
description = "Lint YAML files."
run = '''
pnpm i --frozen-lockfile
pnpm yaml-check
'''

[tasks.format]
description = "Format all supported code."
run = '''
cargo fmt --all
taplo fmt
pnpm i --frozen-lockfile
pnpm md-fmt
pnpm yaml-fmt
'''
alias = "fmt"

[tasks."docs:format"]
description = "Format documentation files."
dir = "docs"
run = '''
pnpm i --frozen-lockfile
pnpm format
'''

[tasks."docs:lint"]
description = "Lint documentation files."
dir = "docs"
run = '''
pnpm i --frozen-lockfile
pnpm typecheck
pnpm spellcheck
pnpm format-check
'''

[tasks.clean]
description = "Cleanup all build artifacts and dependencies."
run = '''
cargo clean
rm -rf node_modules
'''

[tasks."test:docs"]
# nextest doesn't run doctests https://github.com/nextest-rs/nextest/issues/16
# We need to run them separately.
description = "Run doctests."
usage = '''
arg "<profile>" help="Build profile (quick-test, dev, etc.)" default="quick-test" {
   choices "quick" "quick-test" "release" "dev"
}
'''
run = '''
cargo test --doc --profile ${usage_profile?} --no-default-features --features "test doctest-private" --no-fail-fast
'''

[tasks."test:nextest"]
description = "Run Rust unit and integration tests except `cargo-test` group with nextest."
usage = '''
arg "<profile>" help="Build profile (quick-test, dev, etc.)" default="quick-test" {
   choices "quick" "quick-test" "release" "dev"
}
'''
run = '''
echo "Running tests with profile: ${usage_profile?}" 
cargo nextest run --cargo-profile ${usage_profile?} --workspace --no-default-features --features "test" --no-fail-fast
'''

[tasks."test:cargo"]
description = "Run Rust unit, integration and doc tests of `cargo-test` group with cargo test."
usage = '''
arg "<profile>" help="Build profile (quick-test, dev, etc.)" default="quick-test" {
   choices "quick" "quick-test" "release" "dev"
}
'''
run = '''
echo "Running tests with profile: ${usage_profile?}" 
cargo test --lib --profile ${usage_profile?} --workspace --no-default-features --features "test cargo-test" --no-fail-fast -- --test "cargo_test_"
'''

[tasks.test]
description = "Run all tests."
usage = '''
arg "<profile>" help="Build profile (quick-test, dev, etc.)" default="quick-test" {
   choices "quick" "quick-test" "release" "dev"
}
'''
run = '''
mise task run test:nextest ${usage_profile?}
mise task run test:cargo ${usage_profile?}
mise task run test:docs ${usage_profile?}
'''

[tasks.codecov]
description = "Generate codecov report"
run = '''
cargo llvm-cov -p forest-filecoin --codecov --no-default-features --features "test cargo-test" --output-path lcov.info
'''

[tasks."docs:format-spellcheck-dictionary"]
description = "Format and deduplicate the spellcheck dictionary."
dir = "docs"
run = '''
TMPFILE=$(mktemp)
cat dictionary.txt | sort --ignore-case | uniq > "$TMPFILE"
mv "$TMPFILE" dictionary.txt
'''

[tasks."docs:format-spellcheck-dictionary-check"]
description = "Check if spellcheck dictionary is properly formatted."
dir = "docs"
run = '''
TMPFILE=$(mktemp)
trap "rm -f $TMPFILE" EXIT
cat dictionary.txt | sort --ignore-case | uniq > "$TMPFILE"
diff dictionary.txt "$TMPFILE"
'''

[tools]
cargo-binstall = "1.16.6"
go = "1.26.0"
node = "20"
pnpm = "10"
