[package]
name = "forest_vm"
description = "Forest VM types"
license = "MIT OR Apache-2.0"
version = "0.3.1"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"
repository = "https://github.com/ChainSafe/forest"

[package.metadata.docs.rs]
features = ["json"]

[dependencies]
num-bigint = { package = "forest_bigint", path = "../utils/bigint", version = "0.1.1" }
address = { package = "forest_address", version = "0.3" }
encoding = { package = "forest_encoding", version = "0.2.1" }
serde = { version = "1.0", features = ["derive"] }
cid = { package = "forest_cid", version = "0.3", features = ["cbor", "json"] }
num-traits = "0.2"
num-derive = "0.3.0"
thiserror = "1.0.11"
lazy_static = "1.4"

[features]
json = []