[package]
name = "forest_ipld"
description = "Interplanetary linked data types and implementation"
version = "0.1.1"
license = "MIT OR Apache-2.0"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"
repository = "https://github.com/ChainSafe/forest"

[package.metadata.docs.rs]
features = ["json"]

[dependencies]
encoding = { package = "forest_encoding", version = "0.2.1" }
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0"
multibase = { version = "0.9.0", optional = true }
async-trait = "0.1"
async-recursion = "0.3.1"
indexmap = { version = "1.3.2", features = ["serde-1"] }

[dependencies.cid]
package = "forest_cid"
features = ["cbor", "json"]
version = "0.3"

[features]
json = ["multibase"]
submodule_tests = ["json"]

[dev-dependencies]
serde_json = "1.0"
async-std = { version = "1.9", features = ["attributes"] }
ipld_blockstore = "0.1"
db = { package = "forest_db", version = "0.1" }
