[package]
name = "rpc"
version = "0.1.0"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"

[dependencies]
ipld_amt = "0.2"
actor = { package = "actor_interface", path = "../../vm/actor_interface" }
bls-signatures = { version = "0.7", default-features = false, features = ["blst"] }
async-std = { version = "1.9", features = ["attributes"] }
serde = { version = "1.0.101", default-features = false, features = ["derive"] }
serde_json = "1.0.48"
chain = { path = "../../blockchain/chain", features = ["json"] }
chain_sync = { path = "../../blockchain/chain_sync" }
blockstore = { package = "ipld_blockstore", version = "0.1" }
cid = { package = "forest_cid", version = "0.3", features = ["json"] }
blocks = { package = "forest_blocks", path = "../../blockchain/blocks", features = [
    "json"
] }
beacon = { package = "beacon", path = "../../blockchain/beacon", features = [
    "json"
] }
clock = { package = "fil_clock", path = "../clock" }
message = { package = "forest_message", version = "0.6", features = ["json"] }
jsonrpc-v2 = { version = "0.5.2", git = "https://github.com/ChainSafe/jsonrpc-v2", features = [
    "easy-errors",
    "macros"
], default-features = false }
message_pool = { path = "../../blockchain/message_pool" }
crypto = { package = "forest_crypto", version = "0.4", features = ["json"] }
num-traits = "0.2.11"
wallet = { package = "key_management", path = "../../key_management", features = [
    "json"
] }
state_manager = { package = "state_manager", path = "../../blockchain/state_manager" }
address = { package = "forest_address", version = "0.3", features = ["json"] }
encoding = { package = "forest_encoding", version = "0.2.1" }
num-bigint = { version = "0.1.1", package = "forest_bigint" }
thiserror = "1.0"
state_tree = { path = "../../vm/state_tree" }
forest_libp2p = { path = "../forest_libp2p" }
jsonwebtoken = "7.2.0"
auth = { path = "../../utils/auth" }
utils = { path = "../../node/utils" }
rand_distr = "0.3"
rand = "0.7"
interpreter = { path = "../../vm/interpreter/" }
fil_types = "0.1"
futures = "0.3.5"
async-tungstenite = "0.12"
async-log = "2.0.0"
libp2p = { version = "0.35", default-features = false }
log = "0.4.8"
tokio = { version = "1.0", features = ["sync"] }
vm = { package = "forest_vm", version = "0.3.1" }
base64 = "0.13"
ipld = { package = "forest_ipld", path = "../../ipld", features = ["json"] }
bitfield = { package = "forest_bitfield", version = "0.1", features = ["json"] }
networks = { path = "../../types/networks" }
ahash = "0.6"

[dev-dependencies]
db = { package = "forest_db", version = "0.1" }
futures = "0.3.5"
test_utils = { version = "0.1.0", path = "../../utils/test_utils/", features = [
    "test_constructors"
] }
hex = "0.4.2"
