[package]
name = "rpc"
version = "0.1.0"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"

[dependencies]
ahash = "0.6"
async-log = "2.0.0"
async-std = { version = "1.9", features = ["attributes"] }
base64 = "0.13"
bls-signatures = { version = "0.9", default-features = false, features = ["blst"] }
crossbeam = "0.8.0"
futures = "0.3.5"
jsonwebtoken = "7.2.0"
libp2p = { version = "0.35", default-features = false }
log = "0.4.8"
num-traits = "0.2.11"
rand = "0.7"
rand_distr = "0.3"
serde = { version = "1.0.101", default-features = false, features = ["derive"] }
serde_json = "1.0.48"
thiserror = "1.0"
tide = "0.16.0"
tide-websockets = "0.3.0"
extensions = "0.2.0"
##
actor = { package = "actor_interface", path = "../../vm/actor_interface" }
address = { package = "forest_address", version = "0.3", features = ["json"] }
auth = { path = "../../utils/auth" }
beacon = { package = "beacon", path = "../../blockchain/beacon", features = ["json"] }
bitfield = { package = "forest_bitfield", version = "0.1", features = ["json"] }
blocks = { package = "forest_blocks", path = "../../blockchain/blocks", features = ["json"] }
blockstore = { package = "ipld_blockstore", version = "0.1" }
chain = { path = "../../blockchain/chain", features = ["json"] }
chain_sync = { path = "../../blockchain/chain_sync" }
cid = { package = "forest_cid", version = "0.3", features = ["json"] }
clock = { package = "fil_clock", path = "../clock" }
crypto = { package = "forest_crypto", version = "0.5", features = ["json", "blst"] }
encoding = { package = "forest_encoding", version = "0.2.1" }
fil_types = "0.2"
forest_libp2p = { path = "../forest_libp2p" }
interpreter = { path = "../../vm/interpreter/" }
ipld = { package = "forest_ipld", path = "../../ipld", features = ["json"] }
ipld_amt = "0.2"
message = { package = "forest_message", version = "0.7", features = ["json", "blst"] }
message_pool = { path = "../../blockchain/message_pool" }
networks = { path = "../../types/networks" }
num-bigint = { version = "0.1.1", package = "forest_bigint" }
state_manager = { package = "state_manager", path = "../../blockchain/state_manager" }
state_tree = { path = "../../vm/state_tree" }
utils = { path = "../../node/utils" }
vm = { package = "forest_vm", version = "0.3.1" }
wallet = { package = "key_management", path = "../../key_management", features = ["json"] }

[dependencies.jsonrpc-v2]
version = "0.10.0"
features = ["easy-errors", "macros", "bytes-v05"]
default-features = false

[dev-dependencies]
db = { package = "forest_db", version = "0.1" }
futures = "0.3.5"
hex = "0.4.2"
test_utils = { version = "0.1.0", path = "../../utils/test_utils/", features = ["test_constructors"] }
