[package]
name = "ipld_amt"
description = "Sharded IPLD Array implementation."
version = "0.2.1"
license = "MIT OR Apache-2.0"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"
repository = "https://github.com/ChainSafe/forest"

[dependencies]
cid = { package = "forest_cid", features = ["cbor"], version = "0.3" }
db = { package = "forest_db", version = "0.1" }
encoding = { package = "forest_encoding", version = "0.2.1" }
serde = { version = "1.0", features = ["derive"] }
ipld_blockstore = "0.1"
thiserror = "1.0"
once_cell = "1.5"
ahash = { version = "0.6", optional = true }
itertools = "0.10"

[features]
go-interop = ["ahash"]

[dev-dependencies]
criterion = "0.3.1"
ipld_blockstore = { version = "0.1", features = ["tracking"] }

[[bench]]
name = "amt_benchmark"
path = "benches/amt_benchmark.rs"
harness = false
