[package]
name = "networks"
version = "0.1.0"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"

[dependencies]
fil_types = { path = "../../types" }
clock = { package = "fil_clock", path = "../../node/clock", version = "0.1" }
lazy_static = "1.4"
beacon = { path = "../../blockchain/beacon" }
serde_json = "1.0"

[features]
interopnet = []