version: 2.1

parameters:
  rustc-version:
    type: string
    default: "1.51.0"

executors:
  test-executor:
    machine:
      image: ubuntu-1604:202004-01
    resource_class: xlarge
  mac-executor:
    macos:
      xcode: 12.0.1
    resource_class: xlarge

######################################################################################################################
#  Reusable single command definitions
######################################################################################################################
commands:
  install_rust:
    description: Install Rust Toolchain
    steps:
      - run:
          name: Install Rust Toolchain
          command: |
            curl -O https://static.rust-lang.org/rustup/dist/x86_64-unknown-linux-gnu/rustup-init && \
            chmod +x rustup-init && \
            ./rustup-init -y --no-modify-path --default-toolchain stable && \
            rm rustup-init && \
            echo 'export PATH=$HOME/.cargo/bin:$PATH' >> $BASH_ENV && \
            source $BASH_ENV
            rustc --version && \
            cargo --version \
  rust_setup:
    description: Set rustc version
    steps:
      - run:
          name: Set rustc version
          command: |
            rustup default stable
            rustup update stable
  print_versions:
    description: Version Info
    steps:
      - run:
          name: Version Info
          command: rustc --version; cargo --version; rustup --version
  env_setup:
    description: Environment Setup
    steps:
      - run:
          name: Setup Env
          command: |
            echo 'export TAG=0.1.${CIRCLE_BUILD_NUM}' >> $BASH_ENV
            echo 'export IMAGE_NAME=forest' >> $BASH_ENV
            echo 'export CARGO_INCREMENTAL=0' >> $BASH_ENV
            echo 'export CI_TIMEOUT="timeout 40m"' >> $BASH_ENV
            echo 'export CC=gcc' >> $BASH_ENV
            echo 'export FIL_PROOFS_PARAMETER_CACHE=$HOME/.proof-params' >> $BASH_ENV
  install_deps:
    steps:
      - run:
          name: Install Dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y \
                curl file gcc g++ git make openssh-client \
                autoconf automake cmake libtool libcurl4-openssl-dev libssl-dev llvm\
                libelf-dev libdw-dev binutils-dev zlib1g-dev libiberty-dev wget \
                xz-utils pkg-config python libclang-6.0-dev clang ocl-icd-opencl-dev libgflags-dev libhwloc-dev
            rustup component add clippy rustfmt
            git submodule update --init

          # TODO enable when protoc used again
          # PROTOC_ZIP=protoc-3.7.1-linux-x86_64.zip
          # curl -OL https://github.com/protocolbuffers/protobuf/releases/download/v3.7.1/$PROTOC_ZIP
          # sudo unzip -o $PROTOC_ZIP -d /usr/local bin/protoc
          # sudo unzip -o $PROTOC_ZIP -d /usr/local 'include/*'
          # rm -f $PROTOC_ZIP
  save_cargo_package_cache:
    description: Save cargo package cache for subsequent jobs
    steps:
      - save_cache:
          key: cargo-package-cache-{{ checksum "Cargo.lock" }}
          # paths are relative to /home/circleci/project/
          paths:
            - ../.cargo/git
            - ../.cargo/registry
            - ../.cargo/.package-cache
  restore_cargo_package_cache:
    description: Restore Cargo package cache from prev job
    steps:
      - run:
          name: Print dir
          command: |
            ls -all /usr/local/include
      - restore_cache:
          key: cargo-package-cache-{{ checksum "Cargo.lock" }}
      - run:
          name: Check cargo package cache
          command: |
            ls -all $HOME/.cargo
            du -ssh $HOME/.cargo
  build_setup:
    description: Sets up environment for future jobs
    steps:
      - checkout
      - install_rust
      - rust_setup
      - print_versions
      - env_setup
      - install_deps

jobs:
  prefetch-crates:
    executor: test-executor
    description: Prefetch cargo crates for subsequent jobs.
    steps:
      - build_setup
      - restore_cargo_package_cache
      - run:
          name: Fetch workspace dependencies over network
          command: cargo fetch
      - save_cargo_package_cache

  ######################################################################################################################
  #  Build related jobs
  ######################################################################################################################
  # TODO change builds over to matrix style once Windows build is ready
  nightly-build-check:
    executor: test-executor
    description: Check nightly build
    steps:
      - checkout
      - install_rust
      - install_deps
      - env_setup
      - run:
          name: Set rustc version
          command: |
            rustup default nightly
            rustup update nightly
      - run:
          name: Nightly Build
          command: |
            rustup run nightly rustc --version --verbose
            rustup run nightly cargo --version --verbose
            cargo +nightly check -p forest
            cargo +nightly check
  msrv-build-check:
    executor: test-executor
    description: Check minimum supported rust version
    steps:
      - checkout
      - install_rust
      - install_deps
      - env_setup
      - run:
          name: Install minimum version
          command: rustup toolchain install << pipeline.parameters.rustc-version >>
      - run:
          name: Minimum supported rust version check
          command: |
            cargo +<< pipeline.parameters.rustc-version >> check -p forest
            cargo +<< pipeline.parameters.rustc-version >> check
  macos-build-check:
    executor: mac-executor
    description: Check macos build
    steps:
      - checkout
      - run:
          name: Install rust toolchain
          command: |
            curl https://sh.rustup.rs -sSf -o install_rust.sh
            chmod +x install_rust.sh
            ./install_rust.sh -q -y
            rm install_rust.sh
            export PATH="${HOME}/.cargo/bin:${PATH}"
            rustc -V
      - rust_setup
      - env_setup
      - run:
          name: Install deps
          command: |
            brew install hwloc
      - run:
          name: Macos build
          command: |
            rustup run stable rustc --version --verbose
            rustup run stable cargo --version --verbose
            cargo +stable check -p forest
            cargo +stable check
  install:
    executor: test-executor
    description: Install forest binary
    steps:
      - build_setup
      - restore_cargo_package_cache
      - run:
          name: Install binary
          command: make install

  ######################################################################################################################
  #  Testing, linting and doc publishing
  ######################################################################################################################
  lint:
    executor: test-executor
    description: Run Rust linting tools.
    steps:
      - build_setup
      - restore_cargo_package_cache
      - run:
          name: Check license
          command: make license
      - run:
          name: cargo clippy
          command: cargo clippy -- -D warnings -A clippy::upper_case_acronyms
      - run:
          name: cargo fmt
          command: cargo fmt --all -- --check
  test:
    executor: test-executor
    description: Run Rust tests
    steps:
      - build_setup
      - restore_cargo_package_cache
      - run:
          name: Run Unit Tests
          command: make test
  test-vectors:
    executor: test-executor
    description: Run serialization and conformance tests
    steps:
      - build_setup
      - restore_cargo_package_cache
      - run:
          name: Run test vectors
          command: make run-vectors
  publish-docs:
    executor: test-executor
    description: Publish documentation to GitHub pages
    steps:
      - checkout
      - when:
          condition:
            equal: [main, << pipeline.git.branch >>]
          steps:
            - build_setup
            - restore_cargo_package_cache
            - run:
                name: Build Docs
                command: cargo doc --no-deps
            - run:
                name: Publish Docs
                command: bash ./scripts/build-rust-docs.sh

  ######################################################################################################################
  #  Security audit
  ######################################################################################################################
  security:
    executor: test-executor
    description: Cargo audit
    steps:
      - build_setup
      - restore_cargo_package_cache
      - run:
          name: Install dependency auditing tool
          command: cargo install cargo-audit
      - run:
          name: Check for known security issues in dependencies
          # TODO remove ignore when https://github.com/filecoin-project/rust-fil-proofs/issues/1403 resolved
          command: cargo audit --ignore RUSTSEC-2021-0011

workflows:
  setup_test:
    jobs:
      - prefetch-crates
      - lint:
          requires:
            - prefetch-crates
      - test:
          requires:
            - prefetch-crates
      - test-vectors:
          requires:
            - prefetch-crates
  build-check:
    jobs:
      - prefetch-crates
      - nightly-build-check:
          requires:
            - prefetch-crates
      - msrv-build-check:
          requires:
            - prefetch-crates
      # - macos-build-check:
      #     requires:
      #       - prefetch-crates
  daily-check:
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - prefetch-crates
      - install:
          requires:
            - prefetch-crates
  docs:
    jobs:
      - publish-docs:
          filters:
            branches:
              only:
                - main
  security:
    jobs:
      - prefetch-crates
      - security:
          requires:
            - prefetch-crates
