[package]
name = "chain_sync"
version = "0.1.0"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"

[dependencies]
address = { package = "forest_address", version = "0.3" }
vm = { package = "forest_vm", version = "0.3.1" }
amt = { package = "ipld_amt", version = "0.2" }
hamt = { package = "ipld_hamt", path = "../../ipld/hamt" }
blocks = { package = "forest_blocks", path = "../blocks", features = ["json"] }
beacon = { path = "../beacon" }
db = { package = "forest_db", version = "0.1" }
encoding = { package = "forest_encoding", version = "0.2.1" }
libp2p = { version = "0.35", default-features = false }
cid = { package = "forest_cid", version = "0.3" }
ipld_blockstore = "0.1"
chain = { path = "../chain" }
message = { package = "forest_message", version = "0.7", features = ["proofs", "blst"] }
state_tree = { path = "../../vm/state_tree/" }
state_manager = { path = "../state_manager/" }
num-bigint = { path = "../../utils/bigint", package = "forest_bigint" }
crypto = { package = "forest_crypto", version = "0.5", features = ["blst"] }
log = "0.4.8"
async-std = { version = "1.9", features = ["tokio1", "unstable"] }
forest_libp2p = { path = "../../node/forest_libp2p" }
futures = "0.3.5"
futures-util = "0.3.5"
lru = "0.6"
thiserror = "1.0"
num-traits = "0.2"
fil_types = "0.2"
commcid = { path = "../../utils/commcid" }
clock = { package = "fil_clock", path = "../../node/clock" }
serde = { version = "1.0", features = ["derive", "rc"] }
tokio = { version = "1.0", features = ["sync"] }
rand = "0.7.3"
smallvec = "1.1.0"
actor = { package = "actor_interface", path = "../../vm/actor_interface" }
interpreter = { path = "../../vm/interpreter/" }
message_pool = { path = "../message_pool" }
networks = { path = "../../types/networks" }
prometheus = { version = "0.12.0", features = ["process"] }
lazy_static = "1.4.0"

[dev-dependencies]
test_utils = { version = "0.1.0", path = "../../utils/test_utils/", features = [
    "test_constructors"
] }
base64 = "0.13"
genesis = { path = "../../utils/genesis", features = ["testing"] }
pretty_env_logger = "0.4.0"
forest_car = { path = "../../ipld/car" }
hex = "0.4"

[features]
insecure_post = []
