# Leave out the image blank or commented out to build from source
FOREST_IMAGE=ghcr.io/chainsafe/forest:latest
# Override if the defaults are not suitable
FOREST_RPC_PORT=2345
FOREST_HEALTHZ_RPC_PORT=2346
FOREST_P2P_LISTEN_PORT=2347
FOREST_KEYSTORE_PHRASE="<CHANGE ME>"
CHAIN=calibnet
