[package]
name = "statediff"
version = "0.1.0"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"

[dependencies]
serde_json = "1.0"
blockstore = { package = "ipld_blockstore", version = "0.1", features = [
    "resolve"
] }
cid = { package = "forest_cid", version = "0.3", features = ["cbor", "json"] }
difference = "2.0"
colored = "2.0"
# TODO might need to enable feature on other versions (0.1 and local)
ipld_hamt = { version = "1.0", features = ["ignore-dead-links"] }
address = { package = "forest_address", version = "0.3", features = ["json"] }
serde = { version = "1.0", features = ["derive"] }
ipld = { version = "0.1.1", package = "forest_ipld", features = ["json"] }
vm = { package = "forest_vm", version = "0.3.1" }
fil_types = "0.1"
state_tree = { path = "../../vm/state_tree/" }
