[alias]
# Permits `cargo cli --chain calibnet ...`
cli = "run --bin forest-cli --"
daemon = "run --bin forest --"
forest-tool = "run --bin forest-tool --release --"

[build]
incremental = true

# TODO(aatifsyed): remove - this can be pushed out to readme
# In all cases, pass --cfg=tokio_unstable for tokio console integration
# See (https://github.com/ChainSafe/forest/pull/2245)
# Note that this may be overriden by user configuration at ~/.cargo/config.toml
rustflags = ["--cfg=tokio_unstable"]

[net]
git-fetch-with-cli = true
retry = 5

[env]
# Disable exponential formatting in `bigdecimal`
# as a workaround for https://github.com/ChainSafe/forest/issues/4035
RUST_BIGDECIMAL_FMT_EXPONENTIAL_THRESHOLD = { value = "100", force = true }       # 0.4.3
RUST_BIGDECIMAL_FMT_EXPONENTIAL_LOWER_THRESHOLD = { value = "100", force = true } # 0.4.7
RUST_BIGDECIMAL_FMT_EXPONENTIAL_UPPER_THRESHOLD = { value = "100", force = true } # 0.4.7
