[package]
name = "rpc-client"
version = "0.1.0"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"

[dependencies]
jsonrpsee = "0.1.0"
cid = { package = "forest_cid", version = "0.3", features = ["json"] }
blocks = { package = "forest_blocks", path = "../../blockchain/blocks", features = ["json"] }
message = { package = "forest_message", version = "0.6", features = ["json"] }
serde_json = "1.0"
jsonrpc-v2 = { version = "0.5.2", git = "https://github.com/ChainSafe/jsonrpc-v2", features = ["easy-errors", "macros"], default-features = false }
log = "0.4.8"
crypto = { package = "forest_crypto", version = "0.4", features = ["json"] }
wallet = {package = "key_management", path = "../../key_management", features = ["json"] }
auth = { path = "../../utils/auth"}
