[package]
name = "forest_encoding"
description = "Filecoin encoding and decoding utilities for use in Forest"
license = "MIT OR Apache-2.0"
version = "0.2.1"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"
repository = "https://github.com/ChainSafe/forest"

[dependencies]
blake2b_simd = "0.5.9"
serde = { version = "1.0", features = ["derive"] }
serde_bytes = { package = "cs_serde_bytes", version = "0.12" }
# TODO remove fork in future (allowing non utf8 strings to be cbor deserialized)
serde_cbor = { package = "cs_serde_cbor", version = "0.12", features = [
    "tags"
] }
serde_tuple = "0.5"
serde_repr = "0.1"
cid = { package = "forest_cid", version = "0.3" }
thiserror = "1.0"
