[package]
name = "ipld_blockstore"
description = "IPLD storage interface"
version = "0.1.1"
license = "MIT OR Apache-2.0"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"
repository = "https://github.com/ChainSafe/forest"

[dependencies]
cid = { package = "forest_cid", features = ["cbor"], version = "0.3" }
db = { package = "forest_db", version = "0.1" }
encoding = { package = "forest_encoding", version = "0.2.1" }
forest_ipld = { optional = true, version = "0.1" }
byteorder = "1.3.2"
dashmap = "4.0.2"

[dev-dependencies]
commcid = { path = "../../utils/commcid" }

[features]
rocksdb = ["db/rocksdb"]
buffered = ["forest_ipld"]
tracking = []
resolve = ["forest_ipld"]
sled = ["db/sled"]
