[package]
name = "forest_message"
description = "Filecoin message types"
license = "MIT OR Apache-2.0"
version = "0.6.1"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"
repository = "https://github.com/ChainSafe/forest"

[package.metadata.docs.rs]
features = ["json", "proofs"]

[dependencies]
vm = { package = "forest_vm", version = "0.3" }
address = { package = "forest_address", version = "0.3" }
cid = { package = "forest_cid", version = "0.3" }
num-bigint = { path = "../../utils/bigint", package = "forest_bigint", version = "0.1.1" }
encoding = { package = "forest_encoding", version = "0.2.1" }
crypto = { package = "forest_crypto", version = "0.4" }
derive_builder = "0.9"
serde = { version = "1.0", features = ["derive"] }
base64 = { version = "0.13", optional = true }
forest_json_utils = { path = "../../utils/json_utils", optional = true, version = "0.1" }
num-traits = "0.2"
fil_types = { optional = true, version = "0.1" }

[dev-dependencies]
serde_json = "1.0"

[features]
json = ["base64", "crypto/json", "forest_json_utils", "cid/json", "num-bigint/json"]
# TODO try to prune out this dependency before releasing
proofs = ["fil_types"]
