[package]
name = "paramfetch"
version = "0.1.0"
authors = ["ChainSafe Systems <info@chainsafe.io>"]
edition = "2018"

[dependencies]
surf = "2.0"
async-std = { version = "1.9", features = ["unstable", "attributes"] }
pbr = "1.0.3"
futures = "0.3.5"
pin-project-lite = "0.2"
fil_types = "0.1"
log = "0.4.8"
blake2b_simd = "0.5.9"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
isahc = "0.9.11"
url = "2.1.1"
net_utils = { path = "../net_utils" }
