# Checks periodically that the Dockerfile builds successfully, and if it doesn't, it creates an issue with the error message.
name: Dockerfile Check

on:
  workflow_dispatch:
  schedule:
    # Run every Sunday at midnight
    - cron:  '0 0 * * 0'

jobs:
  docker-check:
    runs-on: ubuntu-22.04-arm
    steps:
      - uses: actions/checkout@v4
      - run: |
          docker build -t forest-test .
          docker run --rm forest-test --version
      - uses: JasonEtco/create-an-issue@v2
        if: failure()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          filename: .github/DOCKER_ISSUE_TEMPLATE.md
