name: Docs Check

# Cancel workflow if there is a new change to the branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

on:
  push:
    branches:
      - main
    paths:
      - "**.md"
      - "docs/**"
      - ".github/workflows/docs-check.yml"
  merge_group:
  pull_request:
    branches:
      - main
    paths:
      - "**.md"
      - "docs/**"
      - ".github/workflows/docs-check.yml"

jobs:
  docs-check:
    name: Check
    runs-on: ubuntu-24.04-arm
    defaults:
      run:
        working-directory: ./docs
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: mise run docs:format-spellcheck-dictionary-check
      - run: mise run docs:lint
      - run: pnpm build
