name: Docs Check

# Cancel workflow if there is a new change to the branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

on:
  push:
    branches:
      - main
    paths:
      - "**.md"
      - "docs/**"
      - ".github/workflows/docs-check.yml"
  merge_group:
  pull_request:
    branches:
      - main
    paths:
      - "**.md"
      - "docs/**"
      - ".github/workflows/docs-check.yml"

jobs:
  docs-check:
    name: Check
    runs-on: ubuntu-24.04-arm
    defaults:
      run:
        working-directory: ./docs
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v5
        with:
          node-version: 20
          # See https://github.com/actions/setup-node/issues/1027
          # cache: yarn
      - run: corepack enable
      - run: make format-spellcheck-dictionary-check
      - run: yarn --immutable
      - run: yarn typecheck
      - run: yarn spellcheck
      - run: yarn format-check
      - run: yarn build
