name: Lists lint

# Cancel workflow if there is a new change to the branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

on:
  merge_group:
  pull_request:
    branches:
      - main
    paths:
      - "src/tool/subcommands/api_cmd/test_snapshots_ignored.txt"
      - "src/tool/subcommands/api_cmd/test_snapshots.txt"
      - ".github/workflows/lists-lint.yml"
  push:
    branches:
      - main
    paths:
      - "src/tool/subcommands/api_cmd/test_snapshots_ignored.txt"
      - "src/tool/subcommands/api_cmd/test_snapshots.txt"
      - ".github/workflows/lists-lint.yml"

jobs:
  lists-lint:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Sort and verify lists
        run: |
          mise lint:lists
          git diff --exit-code
