# This workflow is used for emergency artifact releases, e.g., when the release tag can not be created by the linked release workflow.
name: Release (manual)

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to release"
        required: true
        type: string

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            file: forest-${{ github.event.inputs.tag }}-linux-amd64.zip
          - os: macos-latest
            file: forest-${{ github.event.inputs.tag }}-macos-arm64.zip
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v5
      - name: Homebrew Utils
        if: contains(matrix.os, 'macos')
        run: |
          brew install --verbose coreutils
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        timeout-minutes: 5
        continue-on-error: true
      - uses: actions/setup-go@v5
        with:
          go-version-file: "go.work"
      - name: Cargo Build
        run: |
          mkdir -p release-binaries forest-${{ github.event.inputs.tag }}
          cargo install --locked --path . --force --root release-binaries
          mv -v release-binaries/bin/* forest-${{ github.event.inputs.tag }}
      - name: Pack artifacts
        run: |
          for bin in forest-${{ github.event.inputs.tag }}/*; do
            sha256sum $bin > $bin.sha256
          done
          cp -rv CHANGELOG.md LICENSE-APACHE LICENSE-MIT README.md forest-${{ github.event.inputs.tag }}
          zip -r ${{ matrix.file }} forest-${{ github.event.inputs.tag }}
      - name: Upload Binary
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ github.token }}
          file: ${{ matrix.file }}
          asset_name: ${{ matrix.file }}
          tag: ${{ github.event.inputs.tag }}
          overwrite: true
          prerelease: true
  publish:
    name: cargo publish
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v5
      - run: cargo publish --locked --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
