name: Rubocop

# Cancel workflow if there is a new change to the branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

on:
  merge_group:
  pull_request:
    branches:
      - main
    paths:
      - "**/*.rb"
      - ".github/workflows/rubocop.yml"
  push:
    branches:
      - main
    paths:
      - "**/*.rb"
      - ".github/workflows/rubocop.yml"

jobs:
  rubocop:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - run: mise lint:ruby
