name: Script linters

# Cancel workflow if there is a new change to the branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

on:
  merge_group:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  shellcheck:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Run shellcheck
        uses: ludeeus/action-shellcheck@2.0.0
        env:
          SHELLCHECK_OPTS: --external-sources --source-path=SCRIPTDIR
  rubocop:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0"
      - name: Run rubocop
        run: |
          gem install rubocop -v 1.58 --no-document
          rubocop scripts/
  python-lint:
    if: ${{ !startsWith(github.ref, 'refs/heads/gh-readonly-queue/') }}
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: pip install black flake8
      - name: Run Python linters
        uses: wearerequired/lint-action@v2
        with:
          black: true
          flake8: true
  docker-lint:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - name: validate compose file
        run: |
          cp monitored-stack/.env.example monitored-stack/.env
          docker compose -f monitored-stack/docker-compose.yml config
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: "Dockerfile*"
          recursive: true
          # https://github.com/hadolint/hadolint/wiki/DL3008
          # https://github.com/hadolint/hadolint/wiki/DL3018
          ignore: DL3008,DL3018
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: "*.dockerfile"
          recursive: true
          # https://github.com/hadolint/hadolint/wiki/DL3008
          # https://github.com/hadolint/hadolint/wiki/DL3018
          ignore: DL3008,DL3018
  yaml-lint:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: corepack enable
      - run: yarn --immutable
      - run: yarn yaml-check
