name: Shellcheck

# Cancel workflow if there is a new change to the branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

on:
  merge_group:
  pull_request:
    branches:
      - main
    paths:
      - "**/*.sh"
      - ".github/workflows/shellcheck.yml"
  push:
    branches:
      - main
    paths:
      - "**/*.sh"
      - ".github/workflows/shellcheck.yml"

jobs:
  shellcheck:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
      - name: Run shellcheck
        run: mise lint:shellcheck
